/* NavbarCSS.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
background: linear-gradient(135deg,#6b078a 0%, #0b1b2b 50%, #051428 100%);
  color: #fff;
  color: white;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #FFD700; /* yellow */
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.menu button:hover {
  color: #FFD700;
}

.menu .active {
  color: #FFD700;
  font-weight: bold;
}

.mobile-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: black;
  padding: 10px 20px;
}

.mobile-menu button {
  background: none;
  border: none;
  color: white;
  padding: 10px 0;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.mobile-menu button:hover,
.mobile-menu .active {
  color: #FFD700;
  font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .mobile-toggle {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }
}
