.video-bg-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 20, 0.6); /* dark overlay */
  z-index: 1;
}

.video-content {
  position: relative;
  z-index: 2;
  color: #fff;
}
